/* Styles the top Nav. bar*/
.topnav {
  padding-top: 0px;
  margin-top: 0px;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}

/*Changes the inside of the search bar*/

.topnav input[type=search]{
  float: c;
  text-align: center;
  padding: 8px;
  width: 50%;
  border: ridge;
  border-color: white;
  background: #E5E5E5;
  margin-top: 6px;
  font-size: 18px;
  color: black;
}