  
/* Whole Row 1 */
#wholeRow1 {
position: absolute;
width: 1244px;
height: 547px;
left: 98px;
top: 879px;

}

/* Title*/

#title {
/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

position: absolute;
width: 1244px;
height: 47px;
left: 98px;
top: 879px;
}

  
/* Category - best picture */
#category{
  
position: static;
width: 400px;
height: 20px;
left: -100px;
top: -50px;

font-family: 'Courier New';
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 100px;
/* identical to box height */

color: #000000;
}

#seeMore {
  /* See more */

position: static;
width: 79px;
height: 24px;
left: 0px;
top: 0px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

/* rose/700 */
color: #BE123C;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 1250px;
}

.column {
  float: left;
  width: 18%;
  padding: 10px;
}

.row: after {
  content: "";
  clear: both;
  display: table;
}

/* Movie (1,1)----------------------------------------- */
/* Movie Size 1 */
#movieSize1 {

position: static;
width: 250px;
height: 370px;
left: 30px;
top: 0px;

background: url(.jpg);

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie 1 Year */
#movieYear1 {
position: static;
width: 56px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie Title 1 */
#movieTitle1 {
position: static;
width: 250px;
height: 23px;
left: 0px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
}
/* End of Movie (1,1)----------------------------------- */


/* Movie (1,2)------------------------------------------ */
/* Movie Size 2 */
#movieSize2 {
position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg);


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie 2 Year */
#movieYear2 {
position: static;
width: 56px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie Title 2 */
#movieTitle2 {
position: static;
width: 250px;
height: 23px;
left: -200px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
}
/* End of Movie (1,2)----------------------------------- */


/* Movie (1,3)------------------------------------------ */
/* Movie Size 3 */
#movieSize3 {
position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg);


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie 3 Year */
#movieYear3 {
position: static;
width: 56px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie Title 3 */
#movieTitle3 {
position: static;
width: 250px;
height: 23px;
left: -200px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
}
/* End of Movie (1,3)----------------------------------- */

/* Movie (1,4)------------------------------------------ */
/* Movie Size 4 */
#movieSize4 {
position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg);


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie 4 Year */
#movieYear4 {
position: static;
width: 56px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie Title 4 */
#movieTitle4 {
position: static;
width: 250px;
height: 23px;
left: -200px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
}
/* End of Movie (1,4)----------------------------------- */

/* Movie (1,5)------------------------------------------ */
/* Movie Size 5 */
#movieSize5 {
position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg);


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie 5 Year */
#movieYear5 {
position: static;
width: 56px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;

}

/* Movie Title 5 */
#movieTitle5 {
position: static;
width: 250px;
height: 23px;
left: -200px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;

/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
}
/* End of Movie (1,5)----------------------------------- */
