
/* Whole Row 1 */
#wholeRow1 {
position: absolute;
width: 1244px;
height: 547px;
left: 98px;
top: 879px;

}

/* Title*/

#title {
/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

position: absolute;
width: 1244px;
height: 47px;
left: 98px;
top: 879px;
}



  
/* Category */
#category {
  
position: static;
width: 79px;
height: 47px;
left: 582.5px;
top: 0px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 47px;
/* identical to box height */

color: #000000;
}

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 83px;


/* Row 1 of Movie List */

/* Auto Layout 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1240px;
height: 456px;
left: 98px;
top: 970px;
*/


/* Movie Card 4 */
movie_card4{
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 250px;
height: 433px;
left: 0px;
top: 0px;
}

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 80px;


/* Poster 4 - Delete */

position: static;
width: 250px;
height: 370px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;


/* Poster Image 4 */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;



/* Poster */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* Poster */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg);

/* Movie 4 Year */

position: static;
width: 56px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;


/* Movie 4 Title */

position: static;
width: 250px;
height: 23px;
left: 0px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;



/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

position: static;
display: none;
width: 250px;
height: 17px;
left: 0px;
top: 445px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 12px 0px;

/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
margin: 12px 0px;


/* Movie Card 3 */
#moviecard3 {
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 250px;
height: 456px;
left: 330px;
top: 0px;
}

#movecard3_position {
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 80px;
}



/* Poster 3  - Delete */

position: static;
width: 250px;
height: 370px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;


/* Poster Image 3 */
#posterimage3 {
position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;
}



/* Poster */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* Poster */
#poster3 {
position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg);
}





/* Movie 3 Year */
#movie3year {
position: static;
width: 57px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;

}


/* Movie 3 Title */
#movie3title {
position: static;
width: 250px;
height: 46px;
left: 0px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;

}

/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;





/* Movie Card 2 */

/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 250px;
height: 433px;
left: 660px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 0px 80px;


/* Poster 2 - Delete */

position: static;
width: 250px;
height: 370px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;


/* Poster Image 2 */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;



/* Poster */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* Poster */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg);



/* Movie 2 Year */

position: static;
width: 61px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */
 


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;


/* Movie 2 Title */

position: static;
width: 250px;
height: 23px;
left: 0px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;


/* Rating */

/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

position: static;
display: none;
width: 250px;
height: 17px;
left: 0px;
top: 445px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 12px 0px;


/* Action, Adventure / Horror */

position: static;
display: none;
width: 105px;
height: 16px;
left: 0px;
top: 474px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
margin: 12px 0px;


/* Movie Card 4 */

.moviecard4{
/* Auto Layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 250px;
height: 433px;
left: 990px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 0px 80px;

}


/* Poster 1 - Delete */

position: static;
width: 250px;
height: 370px;
left: 0px;
top: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 12px 0px;


/* Poster Image 1 */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;



/* Poster */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: #C4C4C4;


/* Poster */

position: absolute;
width: 250px;
height: 370px;
left: 0px;
top: 0px;

background: url(.jpg), url(.jpg);


/* Rating */

position: absolute;
visibility: hidden;
width: 218px;
height: 29.21px;
left: 16px;
top: 15.58px;



/* TV Series */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3px 8px;

position: absolute;
width: 74px;
height: 22px;
left: 0px;
top: 3.61px;

background: rgba(243, 244, 246, 0.5);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 12px;


/* TV SERIES */

position: static;
width: 58px;
height: 16px;
left: 8px;
top: 3px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/900 */
color: #111827;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Favorite */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 188px;
top: 0px;



/* Ellipse 3 */

position: absolute;
width: 30px;
height: 29.21px;
left: 188px;
top: 0px;

background: rgba(243, 244, 246, 0.5);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */


/* Heart */

position: absolute;
width: 20px;
height: 19.47px;
left: 193px;
top: 4.87px;



/* Icon */

position: absolute;
left: 10%;
right: 10%;
top: 20%;
bottom: 11.72%;

/* gray/300 */
background: #D1D5DB;


/* Movie 1 Year */

position: static;
width: 114px;
height: 16px;
left: 0px;
top: 382px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;


/* Movie 1 Title */

position: static;
width: 250px;
height: 23px;
left: 0px;
top: 410px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;

/* gray/900 */
color: #111827;


/* Inside Auto Layout */
flex: none;
order: 2;
flex-grow: 0;
margin: 12px 0px;


/* Rating */

/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

position: static;
display: none;
width: 250px;
height: 17px;
left: 0px;
top: 445px;


/* Inside Auto Layout */
flex: none;
order: 3;
flex-grow: 0;
margin: 12px 0px;


/* Action, Adventure / Horror */

position: static;
display: none;
width: 148px;
height: 16px;
left: 0px;
top: 474px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height */

/* gray/400 */
color: #9CA3AF;


/* Inside Auto Layout */
flex: none;
order: 4;
flex-grow: 0;
margin: 12px 0px;
