<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="SingleMovie.css" rel="stylesheet" type="text/css" />
  <link href="NavigationBar.css" rel="stylesheet" type="text/css"/>
  <link href="PopularMoviesPage.css" rel="stylesheet" type="text/css" />

  <style>
	body {
    margin:0;
    padding:0;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
</style>
</head>

<!-- Background Size -->


<!-- Navigation Bar -->
<body>
	<div class="NavigationBar">

		<!-- Home Icon -->
		<a class="active" href="./index.html"><img alt="Logo" src="https://cdn.pixabay.com/photo/2015/12/09/22/24/filmklappe-1085692_1280.png" width="30" height="30"></a>

    <!-- Popular Movies Icon -->
    <a class="active" href="./PopularMoviesPage.html"><big>Trending Oscar Films</a><big>

    <!-- Search Bar -->
    <script>
    function movie_search() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
      }
    }
    </script>
    <input style= "margin-top: 5px;" type="search" id="myInput" onkeyup="movie_search()" placeholder="Search for a Movie" title="Type in a name">

    <!-- Contact Us Icon -->
    <a class="active" href="./ContactUs.html"><big>Contact Us</a><big>
      
	</div>
</body>


<!--Breadcrumb -->
 <ul class ="breadCrumb"> 
          <li><a href="./index.html">Home</a></li>
          <li><a href="./PopularMoviesPage.html">Trending Oscar Films</a></li>
          <li>Selected Movie</li>
    </ul>

<!-- Selected Movie Cover-->
<body>
	<title id= "title">Stranger Things</title>
    <p id= "singleMovie_cover">
    <img alt='title' src='https://m.media-amazon.com/images/M/MV5BN2ZmYjg1YmItNWQ4OC00YWM0LWE0ZDktYThjOTZiZjhhN2Q2XkEyXkFqcGdeQXVyNjgxNTQ3Mjk@._V1_.jpg' width="580" height="740"> 
  </p>
  
  <p>
    <a class="imdb" href="https://www.imdb.com/title/tt4574334/?ref_=ttmi_tt"><img src= "https://upload.wikimedia.org/wikipedia/commons/6/69/IMDB_Logo_2016.svg" width="150" height="200"></a>
  </p>

  <!-- Year, Awarded, Nominations, Descriptiion -->
  <p id = "year" style = "top: 180px;">Year: 2016</p>
  <p id = "awarded" style = "top: 220px; color: #B91C1C">Awarded: Best Singer</p>
  <p id = "nominations" style = "top: 260px; color: #B91C1C;" >Nominations: Best Actor, Best Movie</p>
  <p id = "descriptions" style = "top: 315px;">In a small town where everyone knows everyone, a peculiar incident starts a chain of events that leads to the disappearance of a child, which begins to tear at the fabric of an otherwise peaceful community. Dark government agencies and seemingly malevolent supernatural forces converge on the town, while a few of the locals begin to understand that there's more going on than meets the eye. —Charles J</p>

</body>

<!-- Recommendation -->
<body>
<!--<hr style="height:1200px">-->
<title id="recommend"hr>Recommendations</title>

<div style = "top: 0px;">
<div class="row" style="margin-top: 905px;">
        <!-- Column of Movies -->
         <div class="column"">
            <!-- Movie (1,1) -->
            <img alt="Alt text" src="https://upload.wikimedia.org/wikipedia/en/1/15/Dunkirk_Film_poster.jpg"width="250" height="370"/>
            <p id = "movieTitle">Dunkirk</p>
            <p id = "movieYear" class="movie-year">2017</p>
        
         </div>

        <!-- Excess Code for Thymeleaf-- -->
         <!-- Movie (1,2) -->
         <div class="column">
            <a href="movieSize">
            <img alt="Alt text" src="https://resizing.flixster.com/BTfIie-NvRxbSUkUyLfZs-2wdM0=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzL2QzNTE2ZWE4LWIyY2MtNDcyMC05ZmNhLWMwZWU3NGNlOGYzYi53ZWJw"" width="250" height="370">
            </a>
            <p id = "movieTitle">Spider-Man: Into the Spider-Verse</p>
            <p id = "movieYear" class="movie-year">2021</p>
         </div>
         <!-- Movie (1,3) -->
         <div class="column">
            <a href="movieSize">
            <img alt="Alt text" src="https://m.media-amazon.com/images/M/MV5BOTY4YjI2N2MtYmFlMC00ZjcyLTg3YjEtMDQyM2ZjYzQ5YWFkXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_FMjpg_UX1000_.jpg" width="250" height="370">
            </a>
            <p id = "movieTitle">Batman Begins</p>
            <p id = "movieYear" class="movie-year">2021</p>
         </div>
         <!-- Movie (1,4) -->
         <div class="column">
            <a href="movieSize">
            <img alt="Alt text" src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjEzMDAxOTUyMV5BMl5BanBnXkFtZTgwNzAxMzYzOTE@._V1_.jpg" width="250" height="370">
            </a>
            <p id = "movieTitle">Stranger Things</p>
            <p id = "movieYear" class="movie-year">2021</p>
          
         </div>
         <!-- Movie (1,5) -->
         <div class="column">
            <a href="movieSize">
            <img alt="Alt text" src="https://m.media-amazon.com/images/I/61J8wQhWiCL.jpg" width="250" height="370">
            </a>
            <p id = "movieTitle">Bob's Burger</p>
            <p id = "movieYear" class="movie-year">2021</p>
         </div>
      </div>
</div>



<!-- 4 Movies for Recommendation -->
<!--for(i = 0; i < data.movies[4]; i++) {
<img alt='title' src= 'movie_image' width="250" height="370">" +
"<p id="subMovieTitle"> <%= title %> </p>" 
"<p id="subMovieYear"> <%= year %> </p>" 
}-->

</div>
</body>
</script>
</html>