/*Automation Films Title*/
.title {
  padding: 100px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;

  color: white;
}

/* Let's Get Started Link*/
.started {
  position: 25% 75%;
  background: white;
  border-radius: 5px;
  color: black;
  font-size: 15px;
}
/* Home Page */

position: relative;
width: 1440px;
height: 1419px;

background: #FFFFFF;


/* Home Background */

position: absolute;
width: 2374px;
height: 1558px;
left: -451px;
top: 81px;





/* movie-theater-4213751_1920 1 */

position: absolute;
width: 2374px;
height: 1558px;
left: -451px;
top: 81px;

background: url(.jpg);


/* Let's Get Started */

position: absolute;
width: 200px;
height: 60px;
left: 636px;
top: 647px;



/* Button Background */
.startbutton {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border-radius: 5px;
}


/* Button Text */

position: absolute;
height: 22px;
left: 25px;
right: 24px;
top: calc(50% - 22px/2);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* Menu Bar */

position: absolute;
width: 1440px;
height: 81px;
left: 0px;
top: 0px;



/* Rectangle 26 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #111827;


/* Frame 1 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 1.23%;



/* Navbar */

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;



/* BG */

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 0px;



/* Search */

/* Auto Layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 6px 10px;

position: absolute;
width: 525px;
height: 36px;
left: 493px;
top: 22px;

/* gray/300 */
border: 2px solid #D1D5DB;
border-radius: 6px;


/* What do you want to watch? */

position: static;
width: 211px;
height: 24px;
left: 10px;
top: 6px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* white */
color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;


/* Search */

position: static;
width: 16px;
height: 16px;
left: 499px;
top: 10px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;


/* Icon */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* white */
border: 2px solid #FFFFFF;


/* Menu */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 36px;
height: 36px;
left: 1229px;
top: 20px;



/* Logo */

/* Auto Layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 278px;
height: 50px;
left: 40px;
top: 15px;



/* tv */

position: static;
width: 50px;
height: 50px;
left: 0px;
top: 0px;

background: url(.png);

/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;


/* MovieBox */

position: static;
width: 204px;
height: 24px;
left: 74px;
top: 13px;

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */

color: #FFFFFF;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;


/* Menu */

position: absolute;
width: 36px;
height: 36px;
left: 1357px;
top: 20px;



/* Ellipse 1 */

position: absolute;
width: 36px;
height: 36px;
left: 1357px;
top: 20px;

/* rose/700 */
background: #BE123C;


/* Menu alt 4 */

position: absolute;
width: 24px;
height: 24px;
left: 1363px;
top: 26px;



/* Icon */

position: absolute;
left: 15%;
right: 15%;
top: 30%;
bottom: 30%;

/* white */
background: #FFFFFF;



