<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Popular Movie Page</title>

	<link th:href="@{/css/NavigationBar.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/PopularMoviesPage.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/Row.css}" rel="stylesheet" type="text/css"/>

    <!-- Remove White Border on Page-->
	<style type "text/css">
		body {
			margin: 0;
			padding: 0;
			background-color: #FDFFFF;
        }
	</style>

</head>

<body>
	<div class="NavigationBar">
	    <!-- Logo Icon -->
		<a class="active" href="http://localhost:8080/"><img alt="Logo" th:src="@{/css/logo.png}" width="30" height="30"></a>
    
        <!-- Popular Movies Icon -->
        <a class="active" href="http://localhost:8080/popular_movies"><big>Trending Oscar Films</a><big>

        <!-- Search Bar - Search Your Favorite Film? -->
        <script>
            function movie_search() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
            }
        </script>
        <form action="http://localhost:8080/movies/search" method="GET">
            <input style= "margin-top: 5px; margin-left: 150px;" type="search" placeholder="Search Your Favorite Film" name="name">
            <button type="submit"><i class=" fa fa-search"></i></button>
          </form>
          <!-- Contact Us Icon -->
          <a style = "margin-top: -42.5px;" class="active" href="http://localhost:8080/contact_us"><big>Contact Us</a><big>
    </div>


    <!-- Header Background - Nomandland -->
    <a th:href= "@{'http://localhost:8080/popular_movies/single_movie/'+${cover.getName()}+'/'+${cover.getYear()}}">
        <img alt="Nomandland Poster Cover" th:src="@{/css/popularmain.png}" height="660" width="1440">
    </a>
      <!-- Title - Nomandland -->
    <p id="headertitle"> Nomandland </p>
    <!-- Subtitle - Best Picture | Best Actress | Best Director -->
    <p id="subtitle"> Best Picture | Best Actress | Best Director</p>

    <!-- Breadcrumb -->
    <ul class ="breadCrumb"> 
        <li><a href="http://localhost:8080/">Home</a></li>
        <li>Trending Oscar Films</li>
    </ul> 
          
    <div id="awardsDropDown"></div>
    <script>
        fetch('http://localhost:8080/api/awards')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendButton(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendButton(data) {
            var mainContainer = document.getElementById("awardsDropDown");
            let tab = 
                `<div class="dropdown">
                    <button class="dropbtn">Categories</button>
                        <div class="dropdown-content">
                            <div class="scrollable">
                            `;

            for (var i = 0; i < 23; i++) {
                tab +=
                    `<a href="${'#' + data[i].name}">${data[i].name}</a>`;
            }
            tab +=
                    `</div>
                </div>`;
            mainContainer.innerHTML = tab;
        }
    </script>
     <div th:each="award, num : ${awards.iterator()}" th:if="${num.index}<23">
        <a th:id = "${award.getName()}">
           <p th:text="${award.getName()}" id = "category">Best Picture</p>
            <!-- Generate Data to See More Page -->
            <h2 id = "seeMore"> <a th:href="@{'http://localhost:8080/popular_movies/see_more/'+${award.getName()}}" style ="color: #B91C1C;">See More</h2></a>
        </a>
        <!-- Row 1 of Movies -->
        <div class="row clearfix">
           <div th:each="nomination, num : ${award.getNomination().iterator()}" th:if="${num.index}<5" class="column">
              <!-- Movie (1,1) -->
              <a th:href= "@{'http://localhost:8080/popular_movies/single_movie/'+${nomination.getMovie().getName()}+'/'+${nomination.getMovie().getYear()}}">
                <img alt="Alt text" th:src="${nomination.getMovie().getPoster()}" width="250" height="370">
              </a>
              <p th:text="${nomination.getMovie().getName()}"  id = "movieTitle1">Dunkirk</p>
              <p th:text="${nomination.getMovie().getYear()}"  id = "movieYear1">2017</p>
           </div>
        </div>
     </div>
  </body>
</html>